.bgmenu {  background-color: #005B7F}
.onmenu {  background-image: url(art/bg_bot_menu.gif); cursor: hand;}
.bgsubmenu {  background-color: #C4DF9B}
.onsubmenu {  background-image: url(art/bg_bot_submenu.gif); cursor: hand;}
.selmenu {  background-image: url(art/tri_menu.gif); cursor: hand; background-repeat: no-repeat; background-position: center}
.selsubmenu {  background-image: url(art/tri_submenu.gif); cursor: hand; background-repeat: no-repeat; background-position: center}
.offtrack {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10pt; color: #999999}
.ontrack {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10pt; color: #000000}
a:hover.offtrack {  color: #000000;}
a {  text-decoration: none;}
.user {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 7.5pt; color: #B7B7B7}
.linkmsg {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 7.5pt; color: #B7B7B7; text-decoration: underline}
a:hover.linkmsg {  color: #FFFFFF;}
a:hover.link {  color: #005B7F;}
.item {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 7.5pt; color: #000000; font-weight: bold; border: none}
.offsubitem {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 7.5pt; color: #999999; border: none}

.onsubitem {  font-family: Verdana, Arial, Helvetica, sans-serif; cursor: hand; font-size: 7.5pt; color: #000000; border: none; background-color: #F4F4F4;}
.curso {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10pt; font-weight: bold; color: #000000}
.input {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 8pt; color: #000000; background-color: #FFFFFF; border: 1px solid; border-color: #333333 #999999 #999999 #333333}
.txtgbwhite {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10pt; font-weight: bold; color: #FFFFFF}
.txtpblack { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 7.5pt; color: #000000}
.txtgbblack { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10pt; color: #000000 ; font-weight: bold}
.bgdidaxis {  background-color: #F4F4F4}
.txtpgray { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 7.5pt; color: #999999}
.cxmural {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 7.5pt; color: #666666; border: none}
.cxmuralesp { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 7.5pt; color: #005B7F; border: none; font-weight: bold }.bgheader { background-color: #E3E8EE}
.didaxis {  font-family: "Trebuchet MS", Arial, sans-serif; font-size: 64px; color: #000000}
.didaxis2 {  font-family: "Trebuchet MS", Arial, sans-serif; font-size: 17px; color: #000000}
.bgzamble { background-color: #005B7F}
.link { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 7.5pt; color: #333333; text-decoration: underline }
.linkgray { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 7.5pt; color: #999999; text-decoration: none }
a:hover.linkgray {  color: #000000; text-decoration: underline}
